{% extends 'portal/base.html' %}

{% block content %}
<div class="new">
	{% if new.published_date %}
	<div class="date">
		<p>Добавлено: {{ new.created_date }}</p>
		<p>Опубликовано: {{ new.published_date }}</p>
	</div>
	{% endif %}

	<h1>{{ new.title }}</h1>
	<p>{{ new.text|safe }}</p>
	{% if user.is_authenticated %}
	<div class="file">
		<a href="{{MEDIA_URL}}{{ new.upload }}"><i class="fas fa-file-upload fa-3x" style="color: black"><p>Самый лучший файл</p></i></a>
	</div>
	<a class="btn btn-default" href="{% url 'new_edit' pk=new.pk %}"><i class="far fa-edit fa-3x"
			style="color: black"></i></a>
	{% endif %}
	<p><b>{{ new.author }}</b></p>
	
</div>
{% endblock %}